<a href="https://colab.research.google.com/github/ipeirotis/sql_autograding/blob/main/Preprocessing_ft_all.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q openai
!pip install -q google-cloud-secret-manager
!pip install -U PyMySQL sqlalchemy

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 73.6/73.6 kB 900.6 kB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 116.8/116.8 kB 481.1 kB/s eta 0:00:00
Collecting PyMySQL
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.6 MB/s eta 0:00:00
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.19)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (2.0.2)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.1.0

In [ ]:
import gcsfs
import pandas as pd
import io
import openai
import os

from google.cloud import secretmanager

from google.colab import auth

import requests

from sqlalchemy import create_engine

from sklearn.model_selection import train_test_split

In [ ]:
# Login using the account that has access to the Google project
# in order to access the resources for the project
auth.authenticate_user()

In [ ]:
def access_secret_version(project_id, secret_id, version_id):
    """
    Access the payload of the given secret version and return it.

    Args:
        project_id (str): Google Cloud project ID.
        secret_id (str): ID of the secret to access.
        version_id (str): ID of the version to access.
    Returns:
        str: The secret version's payload, or None if
        the version does not exist.
    """
    try:
        client = secretmanager.SecretManagerServiceClient()
        name = f"projects/{project_id}/secrets/{secret_id}/versions/{version_id}"
        response = client.access_secret_version(request={"name": name})
        return response.payload.data.decode("UTF-8")
    except Exception as e:
        print(f"Failed to access the secret version: {e}")
        return None


openai_key = access_secret_version("sql-autograding", "openai-gpt4-32k", "latest")
openai.api_key = openai_key

In [ ]:
URL = "https://api.openai.com/v1/chat/completions"

In [ ]:
grading = {
    "model": "gpt-4-32k",
    "messages": [
        {
            "role": "user",
            "content": f"question: There are two relationships between Customer and Plan. Explain how they differ. \n Key: The Responsible For relationship is an overall 1:M relationship between Customer and Plan. A Customer can be responsible for 0, 1, or many Plans yet any one Plan will be linked to only 1 Customer for responsibility purposes. The Belongs relationship is an overall M:M relationship that permits the linking of multiple customers to a single plan, as in the case of family members being part of a particular plan or different plans. Student answer: Each customer can have 0 to many plans. Each plan must have one responsible party, but may belong to more than one customer. Grade on student answer based on the question and answer key.",
        }
    ],
    "max_tokens": 256,
    "temperature": 0,
}

headers = {"Content-Type": "application/json", "Authorization": f"Bearer {openai_key}"}

response = requests.post(URL, headers=headers, json=grading, stream=False)
if response.status_code != 200:
    print(
        f"Request to OpenAI failed with status {response.status_code}, response: {response.content}"
    )

# single response
print(response.content)

Request to OpenAI failed with status 404, response: b'{\n    "error": {\n        "message": "The model `gpt-4-32k` does not exist or you do not have access to it. Learn more: https://help.openai.com/en/articles/7102672-how-can-i-access-gpt-4.",\n        "type": "invalid_request_error",\n        "param": null,\n        "code": "model_not_found"\n    }\n}\n'
b'{\n    "error": {\n        "message": "The model `gpt-4-32k` does not exist or you do not have access to it. Learn more: https://help.openai.com/en/articles/7102672-how-can-i-access-gpt-4.",\n        "type": "invalid_request_error",\n        "param": null,\n        "code": "model_not_found"\n    }\n}\n'

In [ ]:
# read the original dataset
fs = gcsfs.GCSFileSystem(project="sql_autograding")
with fs.open("gs://sql_autograding/quiz_responses.csv") as f:
    data = pd.read_csv(f)

data.head()

,BSpace Course Name,BSpace Course Id,QuizName,﻿QuizId,QuizAttemptNumber,QuestionId,Question,QuestionType,InputUserAnswer,QuestionAnswerTime,Score,NetId,Comment left on User Response,AnswerKey
0,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,924,883",A customer can have one or more rates.,True or False Question,False,2023-01-28,1.0,ab3864,NaN,NaN
1,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,729",Hard question. Requires use of subqueries and ...,Long Answer Question,"SELECT \n A.CustomerID,\n A.CompanyName,...",2023-01-28,10.0,ab3864,Results for identical to the answer key becaus...,"WITH total_spent AS (\nSELECT C.CustomerID, C...."
2,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,714","For each customer, we want to calculate how mu...",Long Answer Question,"SELECT \n O.CustomerID, SUM(D.Quantity * D....",2023-01-28,6.5,ab3864,-2 pts for the lack of LEFT JOIN\n-1 pt for Co...,NaN
3,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,713","For each order, show the customerID who placed...",Long Answer Question,"Select O.OrderID, O.CustomerID, Count(D.Produ...",2023-01-28,5.5,ab3864,-3 pts for lack for HAVING\n-1 pts for using t...,"SELECT O.OrderID, O.CustomerID\n&#160; &#160; ..."
4,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,711",We want to identify the ship countries with th...,Long Answer Question,"use northwind;\nSELECT \n ShipCountry, AVG(...",2023-01-28,7.0,ab3864,"It is ""LIMIT 3"" not ""LIMIT = 3""","SELECT ShipCountry, ROUND(AVG(Freight),2) AS A..."

## Data Cleaning

In [ ]:
# remove irrelevant columns and filter out only Long Answer Question
df = data.drop(columns=["QuestionAnswerTime"])
df = df[df["QuestionType"] == "Long Answer Question"]
df.head()

,BSpace Course Name,BSpace Course Id,QuizName,﻿QuizId,QuizAttemptNumber,QuestionId,Question,QuestionType,InputUserAnswer,Score,NetId,Comment left on User Response,AnswerKey
1,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,729",Hard question. Requires use of subqueries and ...,Long Answer Question,"SELECT \n A.CustomerID,\n A.CompanyName,...",10.0,ab3864,Results for identical to the answer key becaus...,"WITH total_spent AS (\nSELECT C.CustomerID, C...."
2,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,714","For each customer, we want to calculate how mu...",Long Answer Question,"SELECT \n O.CustomerID, SUM(D.Quantity * D....",6.5,ab3864,-2 pts for the lack of LEFT JOIN\n-1 pt for Co...,NaN
3,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,713","For each order, show the customerID who placed...",Long Answer Question,"Select O.OrderID, O.CustomerID, Count(D.Produ...",5.5,ab3864,-3 pts for lack for HAVING\n-1 pts for using t...,"SELECT O.OrderID, O.CustomerID\n&#160; &#160; ..."
4,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,711",We want to identify the ship countries with th...,Long Answer Question,"use northwind;\nSELECT \n ShipCountry, AVG(...",7.0,ab3864,"It is ""LIMIT 3"" not ""LIMIT = 3""","SELECT ShipCountry, ROUND(AVG(Freight),2) AS A..."
5,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,710",For every customer in the database list the nu...,Long Answer Question,"Select C.CompanyName, C.CustomerID, sum(case w...",10.0,ab3864,NaN,"SELECT C.CustomerID, COUNT(O.OrderID) AS order..."

In [ ]:
# remove: score=0, SQL queries that are "Show tables", "Use imbd" (not query), answerkey=NaN
# drop the row if InputUserAnswer only contains: "show tables;", "use music;", "show databases", "yes", "no", "true", "false"

df = df[df['Score']!=0.0]
df.dropna(subset=['AnswerKey'], inplace=True)

q_words = ["select", "create", "drop", "alter"] # or keep if it contains ? or only from?
def filter_query(ans):
  for w in q_words:
    if w in ans.lower():
      return True
  return False

df['isQuery'] = df['InputUserAnswer'].apply(filter_query)
df = df[df['isQuery']==True]
df.head()

,BSpace Course Name,BSpace Course Id,QuizName,﻿QuizId,QuizAttemptNumber,QuestionId,Question,QuestionType,InputUserAnswer,Score,NetId,Comment left on User Response,AnswerKey,isQuery
1,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,729",Hard question. Requires use of subqueries and ...,Long Answer Question,"SELECT \n A.CustomerID,\n A.CompanyName,...",10.0,ab3864,Results for identical to the answer key becaus...,"WITH total_spent AS (\nSELECT C.CustomerID, C....",True
3,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,713","For each order, show the customerID who placed...",Long Answer Question,"Select O.OrderID, O.CustomerID, Count(D.Produ...",5.5,ab3864,-3 pts for lack for HAVING\n-1 pts for using t...,"SELECT O.OrderID, O.CustomerID\n&#160; &#160; ...",True
4,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,711",We want to identify the ship countries with th...,Long Answer Question,"use northwind;\nSELECT \n ShipCountry, AVG(...",7.0,ab3864,"It is ""LIMIT 3"" not ""LIMIT = 3""","SELECT ShipCountry, ROUND(AVG(Freight),2) AS A...",True
5,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,710",For every customer in the database list the nu...,Long Answer Question,"Select C.CompanyName, C.CustomerID, sum(case w...",10.0,ab3864,NaN,"SELECT C.CustomerID, COUNT(O.OrderID) AS order...",True
6,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,709",Show the date/time of the first order ever dat...,Long Answer Question,use northwind;\nSELECT \n min(OrderDate) as...,7.5,ab3864,NaN,SELECT MIN(OrderDate) AS earliestOrderDate\nFR...,True

In [ ]:
# assign each quiz with its database in df
# Module 4 Practice: Flights Database Questions - flights
# Restaurants Database: Simple Practice Queries - restaurants


def map_db(quiz):
    if "Assignment 6" in quiz or "Module 4 Practice: Flights" in quiz:
        return "flights"
    elif "Assignment 5" in quiz:
        return "imdb"  # ?
    elif "Assignment 4" in quiz or "Assignment 3" in quiz or "Assignment 2" in quiz:
        return "music"
    elif "Module 4" in quiz or "Module 3" in quiz or "Restaurants Database" in quiz:
        return "restaurants"
    elif "Module 2" in quiz:
        return ["facebook", "restaurants"]
    elif "Module 1" in quiz:
        return "northwind"
    elif "General Data Analytics Practice" in quiz:
        return "collisions"
    elif "Final Exam" in quiz:
        return ["northwind", "flights"]
    else:
        return None


df["Database"] = df["QuizName"].apply(map_db)

In [ ]:
df.head(20)

,BSpace Course Name,BSpace Course Id,QuizName,﻿QuizId,QuizAttemptNumber,QuestionId,Question,QuestionType,InputUserAnswer,Score,NetId,Comment left on User Response,AnswerKey,isQuery,Database
1,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,729",Hard question. Requires use of subqueries and ...,Long Answer Question,"SELECT \n A.CustomerID,\n A.CompanyName,...",10.0,ab3864,Results for identical to the answer key becaus...,"WITH total_spent AS (\nSELECT C.CustomerID, C....",True,"[northwind, flights]"
3,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,713","For each order, show the customerID who placed...",Long Answer Question,"Select O.OrderID, O.CustomerID, Count(D.Produ...",5.5,ab3864,-3 pts for lack for HAVING\n-1 pts for using t...,"SELECT O.OrderID, O.CustomerID\n&#160; &#160; ...",True,"[northwind, flights]"
4,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,711",We want to identify the ship countries with th...,Long Answer Question,"use northwind;\nSELECT \n ShipCountry, AVG(...",7.0,ab3864,"It is ""LIMIT 3"" not ""LIMIT = 3""","SELECT ShipCountry, ROUND(AVG(Freight),2) AS A...",True,"[northwind, flights]"
5,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,710",For every customer in the database list the nu...,Long Answer Question,"Select C.CompanyName, C.CustomerID, sum(case w...",10.0,ab3864,NaN,"SELECT C.CustomerID, COUNT(O.OrderID) AS order...",True,"[northwind, flights]"
6,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,709",Show the date/time of the first order ever dat...,Long Answer Question,use northwind;\nSELECT \n min(OrderDate) as...,7.5,ab3864,NaN,SELECT MIN(OrderDate) AS earliestOrderDate\nFR...,True,"[northwind, flights]"
7,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,708","We would like to know, for each product, the a...",Long Answer Question,"use northwind;\nSELECT \n P.ProductID, P.Pr...",7.5,ab3864,NaN,"SELECT P.ProductID, P.ProductName, S.CompanyNa...",True,"[northwind, flights]"
8,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,707","From the Products table, we want to see the Pr...",Long Answer Question,"SELECT \n ProductID, ProductName\nFROM\n ...",5.0,ab3864,NaN,"SELECT ProductID, ProductName\nFROM Products&#...",True,"[northwind, flights]"
9,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,706","We would like to see just the FirstName, LastN...",Long Answer Question,"use northwind;\nSELECT \n E.FirstName, E.La...",5.0,ab3864,NaN,"SELECT FirstName, LastName, HireDate\nFROM Emp...",True,"[northwind, flights]"
10,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,705","We would like to see, for each shipper, the nu...",Long Answer Question,"select A.*,B.distinctDays FROM \n(Select S.Shi...",6.0,ab3864,"Correct answer:\nSELECT S.ShipperID, S.Company...","SELECT S.ShipperID, S.CompanyName\n&#160; &#16...",True,"[northwind, flights]"
21,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,711",We want to identify the ship countries with th...,Long Answer Question,SELECT AVG(Freight)\nFROM Orders;\n\nSELECT AV...,7.5,acm576,NaN,"SELECT ShipCountry, ROUND(AVG(Freight),2) AS A...",True,"[northwind, flights]"
22,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,710",For every customer in the database list the nu...,Long Answer Question,"SELECT C.CustomerID\n, COUNT(C.CustomerID) AS ...",6.0,acm576,-2pts Incorrect join condition ON C.CustomerID...,"SELECT C.CustomerID, COUNT(O.OrderID) AS order...",True,"[northwind, flights]"
23,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,709",Show the date/time of the first order ever dat...,Long Answer Question,"SELECT DATE(OrderDate) AS DATE_date, TIME(Orde...",4.0,acm576,NaN,SELECT MIN(OrderDate) AS earliestOrderDate\nFR...,True,"[northwind, flights]"
24,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,708","We would like to know, for each product, the a...",Long Answer Question,"SELECT P.ProductID, P.ProductName, S.CompanyNa...",7.5,acm576,NaN,"SELECT P.ProductID, P.ProductName, S.CompanyNa...",True,"[northwind, flights]"
25,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,707","From the Products table, we want to see the Pr...",Long Answer Question,"SELECT ProductID, ProductName\nFROM Products\n...",4.0,acm576,"SELECT ProductID, ProductName\nFROM Products&n...","SELECT ProductID, ProductName\nFROM Products&#...",True,"[northwind, flights]"
26,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,706","We would like to see just the FirstName, LastN...",Long Answer Question,"SELECT FirstName, LastName, HireDate\nFROM Emp...",5.0,acm576,NaN,"SELECT FirstName, LastName, HireDate\nFROM Emp...",True,"[northwind, flights]"
27,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,705","We would like to see, for each shipper, the nu...",Long Answer Question,"SELECT S.CompanyName, S.ShipperID, O.OrderID, ...",4.0,acm576,"SELECT S.ShipperID, S.CompanyName\n&nbsp; &nbs...","SELECT S.ShipperID, S.CompanyName\n&#160; &#16...",True,"[northwind, flights]"
67,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,729",Hard question. Requires use of subqueries and ...,Long Answer Question,CREATE TEMPORARY TABLE 2016Spent\nSELECT C.Cus...,10.0,al4026,NaN,"WITH total_spent AS (\nSELECT C.CustomerID, C....",True,"[northwind, flights]"
69,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,713","For each order, show the customerID who placed...",Long Answer Question,"SELECT O.OrderID, CustomerID, COUNT(ProductID)...",10.0,al4026,NaN,"SELECT O.OrderID, O.CustomerID\n&#160; &#160; ...",True,"[northwind, flights]"
70,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,711",We want to identify the ship countries with th...,Long Answer Question,"SELECT ShipCountry, AVG(Freight) AS avgfreight...",7.5,al4026,NaN,"SELECT ShipCountry, ROUND(AVG(Freight),2) AS A...",True,"[northwind, flights]"
71,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,710",For every customer in the database list the nu...,Long Answer Question,"SELECT C.CustomerID, COUNT(OrderID) AS NumOrde...",8.0,al4026,"SELECT C.CustomerID, COUNT(O.OrderID) AS order...","SELECT C.CustomerID, COUNT(O.OrderID) AS order...",True,"[northwind, flights]"

In [ ]:
# compute the maximum score of each question as full score
print(df['QuestionId'].nunique())
df['full_score'] = df.groupby('QuestionId')['Score'].transform('max')
df.head()

64

,BSpace Course Name,BSpace Course Id,QuizName,﻿QuizId,QuizAttemptNumber,QuestionId,Question,QuestionType,InputUserAnswer,Score,NetId,Comment left on User Response,AnswerKey,isQuery,Database,full_score
1,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,729",Hard question. Requires use of subqueries and ...,Long Answer Question,"SELECT \n A.CustomerID,\n A.CompanyName,...",10.0,ab3864,Results for identical to the answer key becaus...,"WITH total_spent AS (\nSELECT C.CustomerID, C....",True,"[northwind, flights]",10.0
3,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,713","For each order, show the customerID who placed...",Long Answer Question,"Select O.OrderID, O.CustomerID, Count(D.Produ...",5.5,ab3864,-3 pts for lack for HAVING\n-1 pts for using t...,"SELECT O.OrderID, O.CustomerID\n&#160; &#160; ...",True,"[northwind, flights]",10.0
4,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,711",We want to identify the ship countries with th...,Long Answer Question,"use northwind;\nSELECT \n ShipCountry, AVG(...",7.0,ab3864,"It is ""LIMIT 3"" not ""LIMIT = 3""","SELECT ShipCountry, ROUND(AVG(Freight),2) AS A...",True,"[northwind, flights]",7.5
5,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,710",For every customer in the database list the nu...,Long Answer Question,"Select C.CompanyName, C.CustomerID, sum(case w...",10.0,ab3864,NaN,"SELECT C.CustomerID, COUNT(O.OrderID) AS order...",True,"[northwind, flights]",10.0
6,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,709",Show the date/time of the first order ever dat...,Long Answer Question,use northwind;\nSELECT \n min(OrderDate) as...,7.5,ab3864,NaN,SELECT MIN(OrderDate) AS earliestOrderDate\nFR...,True,"[northwind, flights]",7.5

In [ ]:
# add a prefix to each comment
def map_feedback(comment):
  if str(comment).lower() == 'nan':
    return ''
  else:
    return 'The feedback from the TA was ' + str(comment)

df['feedback'] = df['Comment left on User Response'].apply(map_feedback)
df.head()

,BSpace Course Name,BSpace Course Id,QuizName,﻿QuizId,QuizAttemptNumber,QuestionId,Question,QuestionType,InputUserAnswer,Score,NetId,Comment left on User Response,AnswerKey,isQuery,Database,full_score,feedback
1,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,729",Hard question. Requires use of subqueries and ...,Long Answer Question,"SELECT \n A.CustomerID,\n A.CompanyName,...",10.0,ab3864,Results for identical to the answer key becaus...,"WITH total_spent AS (\nSELECT C.CustomerID, C....",True,"[northwind, flights]",10.0,The feedback from the TA was Results for ident...
3,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,713","For each order, show the customerID who placed...",Long Answer Question,"Select O.OrderID, O.CustomerID, Count(D.Produ...",5.5,ab3864,-3 pts for lack for HAVING\n-1 pts for using t...,"SELECT O.OrderID, O.CustomerID\n&#160; &#160; ...",True,"[northwind, flights]",10.0,The feedback from the TA was -3 pts for lack f...
4,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,711",We want to identify the ship countries with th...,Long Answer Question,"use northwind;\nSELECT \n ShipCountry, AVG(...",7.0,ab3864,"It is ""LIMIT 3"" not ""LIMIT = 3""","SELECT ShipCountry, ROUND(AVG(Freight),2) AS A...",True,"[northwind, flights]",7.5,"The feedback from the TA was It is ""LIMIT 3"" n..."
5,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,710",For every customer in the database list the nu...,Long Answer Question,"Select C.CompanyName, C.CustomerID, sum(case w...",10.0,ab3864,NaN,"SELECT C.CustomerID, COUNT(O.OrderID) AS order...",True,"[northwind, flights]",10.0,
6,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,709",Show the date/time of the first order ever dat...,Long Answer Question,use northwind;\nSELECT \n min(OrderDate) as...,7.5,ab3864,NaN,SELECT MIN(OrderDate) AS earliestOrderDate\nFR...,True,"[northwind, flights]",7.5,

In [ ]:
# save the cleaned dataset
df.to_csv('cleaned_response.csv')

### Connect to database

In [ ]:
conn_string = "mysql+pymysql://{user}:{password}@{host}/?charset=utf8".format(
    host="db.ipeirotis.org", user="student", password="dwdstudent2015", encoding="utf-8"
)
engine = create_engine(conn_string)

In [ ]:
import pandas as pd
from sqlalchemy import text


def try_query(sql, dbname):
  conn_string = 'mysql+pymysql://{user}:{password}@{host}/{db}?charset=utf8mb4'.format(
      host = 'db.ipeirotis.org',
      user = 'student',
      password = 'dwdstudent2015',
      db = dbname,
      encoding = 'utf8mb4')

  engine = create_engine(conn_string)
  with engine.connect() as connection:
    try:
      df = pd.read_sql(text(sql), con=connection)
      # If everything goes fine, the query runs
      return True
    except Exception as e:
      # If the dbname is incorrect for this sql query, we get an error
      # print("An error occurred:", str(e))
      return False

In [ ]:
correct_answers = df['AnswerKey'].drop_duplicates().dropna().sort_values().reset_index().drop('index', axis=1)
correct_answers

for i, sql in correct_answers.iterrows():
  print(i,sql['AnswerKey'])

0
DROP TABLE IF EXISTS male_names;&#160;
CREATE TEMPORARY TABLE male_names AS
&#160; &#160; SELECT first_name, COUNT(*) AS cnt
&#160; &#160; FROM actors
&#160; &#160; WHERE first_name IN (SELECT first_name FROM eligible_names)
&#160; &#160; &#160; &#160; AND gender = &#39;M&#39;&#160;
&#160; &#160; GROUP BY first_name
&#160; &#160; ORDER BY cnt DESC;



DROP TABLE IF EXISTS female_names;&#160;
CREATE TEMPORARY TABLE female_names AS
&#160; &#160; SELECT first_name, COUNT(*) AS cnt
&#160; &#160; FROM actors
&#160; &#160; WHERE first_name IN (SELECT first_name FROM eligible_names)
&#160; &#160; &#160; &#160; AND gender = &#39;F&#39;&#160;
&#160; &#160; GROUP BY first_name
1
SELECT&#160;*
FROM&#160;track
WHERE&#160;artist_id&#160;=&#160;1&#160;OR&#160;artist_id&#160;=&#160;3&#160;OR&#160;artist_id&#160;=&#160;5



SELECT&#160;*
FROM&#160;track
WHERE&#160;artist_id&#160;IN&#160;(1,3,5)



2
SELECT&#160;*
FROM&#160;track
WHERE&#160;artist_id&#160;=3&#160;and&#160;album_id&#160;=2&#160;

3
SELECT&#160;T.*
FROM&#160;track&#160;T
&#160;&#160;JOIN&#160;artist&#160;R&#160;ON&#160;T.artist_id&#160;=&#160;R.artist_id
WHERE&#160;R.artist_name&#160;=&#160;&#39;The&#160;Stone&#160;Roses&#39;
ORDER&#160;BY&#160;T.time

4
artist -&gt; artist_id
album -&gt; artist_id, album_id
track -&gt; artist_id, album_id, track_id
users -&gt; user_id
tracks_played -&gt; user_id, artist_id, album_id, track_id, played_on

(Note: No partial credit if you do not identify the key correctly, i.e., listing all the attributes that are part of the key)
5 #&#160;You&#160;can&#160;get&#160;the&#160;same&#160;result&#160;without&#160;the&#160;artist_id
#&#160;and&#160;without&#160;artist_id&#160;is&#160;also&#160;a&#160;correct&#160;answer.
SELECT&#160;R.artist_id,&#160;R.artist_name,&#160;COUNT(*)&#160;AS&#160;num_albums
FROM&#160;artist&#160;R&#160;JOIN&#160;album&#160;A&#160;ON&#160;A.artist_id&#160;=&#160;R.artist_id
GROUP&#160;BY&#160;R.artist_id,&#160;R.artist_name
6 &#160; &#160; SELECT LastUpdate
&#160; &#160; &#160; &#160; , SUM(cnt) OVER (ORDER BY LastUpdate) AS total_inactive
&#160; &#160; FROM InactiveOn&#160;
7 &#160; &#160; SELECT MemberSince
&#160; &#160; &#160; &#160; , SUM(cnt) OVER (ORDER BY MemberSince) AS total_signups
&#160; &#160; FROM SignUpsOn
8 DESCRIBE artist;
DESCRIBE album;
DESCRIBE track;
DESCRIBE tracks_played;
DESCRIBE users;
9 DROP TABLE IF EXISTS InactiveOn ;
CREATE TEMPORARY TABLE InactiveOn&#160; AS
SELECT LastUpdate, COUNT(*) AS cnt
FROM Profiles
WHERE LastUpdate IS NOT NULL
GROUP BY LastUpdate;
10 DROP TABLE IF EXISTS SignUpsOn;
CREATE TEMPORARY TABLE SignUpsOnAS
SELECT MemberSince, COUNT(*) AS cnt
FROM Profiles
GROUP BY MemberSince;
11 DROP TABLE IF EXISTS eligible_names;&#160;
CREATE TEMPORARY TABLE eligible_names AS
&#160; &#160; SELECT first_name, COUNT(*) AS cnt
&#160; &#160; FROM actors
&#160; &#160; WHERE first_name NOT LIKE &#39;%.%&#39;&#160;
&#160; &#160; &#160; &#160; AND first_name NOT LIKE &#39;%(%&#39;
&#160; &#160; &#160; &#160; AND first_name NOT LIKE &#39;%)%&#39;
&#160; &#160; GROUP BY first_name
&#160; &#160; HAVING cnt &gt;= 50
&#160; &#160; ORDER BY cnt DESC;
12 DROP TABLE IF EXISTS male_names;&#160;
CREATE TEMPORARY TABLE male_names AS
&#160; &#160; SELECT first_name, COUNT(*) AS cnt
&#160; &#160; FROM actors
&#160; &#160; WHERE first_name IN (SELECT first_name FROM eligible_names)
&#160; &#160; &#160; &#160; AND gender = &#39;M&#39;&#160;
&#160; &#160; GROUP BY first_name
&#160; &#160; ORDER BY cnt DESC;
DROP TABLE IF EXISTS female_names;&#160;
CREATE TEMPORARY TABLE female_names AS
&#160; &#160; SELECT first_name, COUNT(*) AS cnt
&#160; &#160; FROM actors
&#160; &#160; WHERE first_name IN (SELECT first_name FROM eligible_names)
&#160; &#160; &#160; &#160; AND gender = &#39;F&#39;&#160;
&#160; &#160; GROUP BY first_name
&#160; &#160; ORDER BY cnt DESC;

<code
13 DROP TABLE IF EXISTS passengers_per_airport;

CREATE TEMPORARY TABLE passengers_per_airport AS
SELECT origin, SUM(passengers) AS total_passengers
FROM m_ticket_prices
GROUP BY origin;
14 Entities:

Artist
Album
Track
User

Relationships:

Artist-Album: One-to-many. Each artist may have many albums; each album has one artist as the creator. The artist_id foreign key in the Album table implements the one-to-many relationship.
Album-Track: One-to-many. Each album has many tracks; each track belongs to a single album.&#160;The foreign key in the track album is the pair (artist_id, album_id).&#160;The key connects each track to the album with a primary key (artist_id, album_id).
User-Track: Many-to-many. Each user listens to many tracks, and each track is listened to by many people.&#160;We have the bridge table tracks played with two foreign keys: user_id, which connects with the table users, and the (artist_id, album_id, track_id) composite foreign key that points to the track table and the corresponding primary key for the track. Notice that the relation
15 SELECT AVG(time) AS avg_time, STDDEV(time) AS std_time&#160;
FROM&#160;track
16 SELECT C.CustomerID, C.CompanyName
    , COALESCE(SUM(D.Quantity * D.UnitPrice ),0) AS total_price
    , COALESCE(SUM(D.Quantity * D.UnitPrice * D.Discount ),0) AS total_discount
FROM
    Customers C
    LEFT JOIN Orders O ON C.CustomerID = O.CustomerID AND YEAR(O.OrderDate) = 2016
    LEFT JOIN OrderDetails D ON O.OrderID = D.OrderID
GROUP BY C.CustomerID
There is no need for the COALESCE part to get full credit.
17 SELECT C.CustomerID, COUNT(O.OrderID) AS orders
FROM Customers C
&#160; &#160; &#160; &#160; &#160; &#160; LEFT JOIN Orders O ON O.CustomerID = C.CustomerID
GROUP BY C.CustomerID&#160;
18 SELECT COUNT(*) AS cnt
FROM&#160;artist
19 SELECT COUNT(*) AS cnt
FROM&#160;track
20 SELECT DATE(played_on) AS date_played, A.artist_id, A.artist_name
&#160; &#160; &#160; &#160; , COUNT(DISTINCT user_id) AS users
&#160; &#160; &#160; &#160; , SUM(T.time) AS total_time
&#160; &#160; &#160; &#160; , COUNT(*) AS total_tracks
FROM tracks_played P
&#160; &#160; JOIN artist A ON P.artist_id = A.artist_id
&#160; &#160; JOIN track T ON P.track_id = T.track_id AND P.album_id = T.album_id AND P.artist_id = T.artist_id
GROUP BY date_played, A.artist_id
ORDER BY date_played, A.artist_id;
21 SELECT DISTINCT T.origin, T.dest, O.state
FROM flights.m_ticket_prices T
&#160; &#160; JOIN m_airports O ON O.airport = T.origin
&#160; &#160; JOIN m_airports D ON D.airport = T.dest
WHERE O.state_name=D.state_name
ORDER BY O.state
22 SELECT FirstName, LastName, HireDate
FROM Employees&#160;
WHERE Title = &#39;Sales Representative&#39; AND Country = &#39;USA&#39;
23 SELECT M.first_name
&#160; &#160; &#160; &#160; , M.cnt AS male_cnt
&#160; &#160; &#160; &#160; , F.cnt AS female_cnt
&#160; &#160; &#160; &#160; , M.cnt/F.cnt AS ratio
&#160; &#160; &#160; &#160; , LOG10(M.cnt/F.cnt) AS log_odds
FROM male_names M&#160;
&#160; &#160; JOIN female_names F ON F.first_name = M.first_name
ORDER BY ABS(log_odds)
24 SELECT MIN(OrderDate) AS earliestOrderDate
FROM Orders
25 SELECT O.OrderID, O.CustomerID
&#160; &#160; , SUM(D.Quantity * D.UnitPrice) AS total_price
&#160; &#160; , COUNT(DISTINCT D.ProductID) AS num_products
&#160; &#160; , SUM(D.Quantity) AS total_units
FROM Orders O JOIN OrderDetails D ON O.OrderID = D.OrderID
GROUP BY O.OrderID
HAVING total_price &gt; 10000
ORDER BY total_price DESC
26 SELECT P.ProductID, P.ProductName, S.CompanyName
FROM Products P JOIN Suppliers S ON P.SupplierID = S.SupplierID
ORDER BY P.ProductID
27 SELECT ProductID, ProductName
FROM Products&#160;
WHERE ProductName LIKE &#39;%queso%&#39;
28 SELECT R.artist_name, A.*
FROM&#160;artist&#160;R&#160;JOIN&#160;album&#160;A&#160;ON&#160;A.artist_id&#160;=&#160;R.artist_id
WHERE&#160;R.artist_name&#160;=&#160;&#39;New&#160;Order&#39;
29 SELECT S.ShipperID, S.CompanyName
&#160; &#160; , COUNT(O.OrderID) AS orders
&#160; &#160; , COUNT(DISTINCT O.ShippedDate ) AS dates
FROM Orders O&#160;
&#160; &#160; JOIN Shippers S ON O.ShipVia = S.ShipperID
GROUP BY S.ShipperID;
30 SELECT ShipCountry, ROUND(AVG(Freight),2) AS AvgFreight
FROM &#160;Orders
GROUP BY ShipCountry
ORDER BY AvgFreight DESC
LIMIT 3
31 SELECT T.artist_id, T.album_id, T.track_id, T.track_name, MIN(played_on) AS first_played, MAX(played_on) AS last_played
FROM track T &#160;
&#160; &#160; LEFT JOIN tracks_played P ON T.artist_id = P.artist_id AND T.album_id = P.album_id AND T.track_id = P.track_id
GROUP BY T.artist_id, T.album_id, T.track_id
32 SELECT U.first_name, U.last_name
FROM users U&#160;
&#160; &#160; LEFT JOIN tracks_played P ON U.user_id = P.user_id&#160;
WHERE P.user_id IS NULL
33 SELECT U.user_id, COUNT(T.track_id) AS tracks_played, SUM(T.time) AS total_time
FROM users U
&#160; &#160; LEFT JOIN tracks_played P ON U.user_id = P.user_id
&#160; &#160; LEFT JOIN track T ON T.artist_id = P.artist_id AND T.album_id = P.album_id AND T.track_id = P.track_id
GROUP BY U.user_id
ORDER BY U.user_id

20% off if there is no left join and users 6 and 9 are missing
10% off if there is a left join, but the tracks_played for users 6 and 9 is listed as 1 instead of 0 (ie. they used COUNT(*) instead of COUNT(T.track_id)
34 SELECT U.user_id, U.first_name, U.last_name, A.album_name, T.track_name, P.played_on
FROM tracks_played P&#160;
&#160; &#160; JOIN users U ON U.user_id = P.user_id
&#160; &#160; JOIN track T ON P.artist_id = T.artist_id AND P.album_id = T.album_id AND P.track_id = T.track_id
&#160; &#160; JOIN album A ON P.artist_id = A.artist_id AND P.album_id = A.album_id
ORDER BY user_id, played_on
35 SELECT artist_id, COUNT(album_id) AS cnt_albums
FROM album
GROUP BY artist_id
36 SELECT artist_id, album_id, COUNT(track_id) AS cnt_tracks, SUM(time) AS total_time
FROM track
GROUP BY artist_id, album_id
37 SELECT artist_id, album_id, SUM(time) AS total_time
FROM&#160;track
GROUP&#160;BY&#160;artist_id,&#160;album_id
HAVING&#160;SUM(time)&#160;&gt;&#160;60
38 SELECT carrier, COUNT(*) AS routes, COUNT(DISTINCT origin) AS origins, AVG(fare_per_mile) AS avg_fare_per_mile
FROM m_ticket_prices
GROUP BY carrier
HAVING SUM(passengers)&gt;20000;
39 SELECT origin
&#160; &#160; &#160; &#160; , AVG(fare) AS fare
&#160; &#160; &#160; &#160; , AVG(fare_per_mile) AS fare_per_mile
&#160; &#160; &#160; &#160; , AVG(distance) AS distance
FROM m_ticket_prices
GROUP BY origin;
40 SELECT origin
&#160; &#160; &#160; &#160; , COUNT(DISTINCT dest) AS destinations
&#160; &#160; &#160; &#160; , COUNT(DISTINCT carrier) AS carriers
FROM m_ticket_prices
GROUP BY origin;
41 SELECT origin, State, total_passengers
&#160; &#160; , RANK() OVER (ORDER BY total_passengers DESC) AS national_rank
&#160; &#160; , RANK() OVER (PARTITION BY State ORDER BY total_passengers DESC) AS state_rank
FROM passengers_per_airport P
&#160; &#160; JOIN m_airports A ON P.origin = A.airport
ORDER BY national_rank&#160;
42 SELECT origin, dest
&#160; &#160; , COUNT(DISTINCT carrier) AS carriers
&#160; &#160; , AVG(fare) AS avg_fare
&#160; &#160; , SUM(fare*passengers)/SUM(passengers) AS weighted_fare
&#160; &#160; , SUM(passengers) AS passengers
&#160; &#160; , AVG(distance) AS distance
FROM m_ticket_prices
GROUP BY origin, dest
43 SELECT origin, dest
&#160; &#160; , COUNT(DISTINCT carrier) AS carriers
&#160; &#160; , AVG(fare) AS avg_fare
&#160; &#160; , SUM(passengers) AS passengers
&#160; &#160; , AVG(distance) AS distance
FROM m_ticket_prices
GROUP BY origin, dest
44 SELECT origin, dest
&#160; &#160; , MAX(fare) AS max_fare
&#160; &#160; , MIN(fare) AS min_fare
&#160; &#160; , COUNT(DISTINCT carrier) AS carriers
&#160; &#160; , MAX(fare) - MIN(fare) AS fare_diff
&#160; &#160; , MAX(fare) / MIN(fare) AS fare_ratio
FROM m_ticket_prices
GROUP BY origin, dest
HAVING carriers &gt;= 3;
45 SELECT origin, dest
&#160; &#160; , MIN(fare) AS cheapest_fare
&#160; &#160; , MAX(fare) AS max_fare
&#160; &#160; , AVG(fare) AS avg_fare
&#160; &#160; , COUNT(DISTINCT carrier) AS carriers
&#160; &#160; , SUM(passengers) AS passengers
FROM flights.m_ticket_prices
GROUP BY origin, dest
HAVING COUNT(*) &gt;= 3 &#160;AND passengers &gt; 10000
ORDER BY origin, dest;
46 SELECT origin, dest
&#160; &#160; , SUM(passengers) AS passengers
FROM m_ticket_prices
GROUP BY origin, dest
ORDER BY passengers DESC
LIMIT 1;
47 SELECT state
&#160; &#160; , COUNT(DISTINCT T.origin) AS airports
&#160; &#160; , COUNT(DISTINCT T.carrier) AS carriers
&#160; &#160; , SUM(T.passengers) AS passengers
&#160; &#160; , AVG(fare_per_mile) AS avg_fare_per_mile
FROM m_airports A JOIN m_ticket_prices T ON A.airport = T.origin
GROUP BY A.state
48 SELECT&#160;*
FROM&#160;album
WHERE&#160;album_name&#160;&gt;=&#160;&#39;F&#39;&#160;AND&#160;&#160;album_name&#160;&lt;&#160;&#39;S&#39;
49 SELECT&#160;*
FROM&#160;album
WHERE&#160;artist_id&#160;=&#160;4
50 SELECT&#160;*
FROM&#160;artist
WHERE&#160;artist_id&#160;=&#160;5
51 SELECT&#160;*
FROM&#160;artist
WHERE&#160;artist_name&#160;=&#160;&#39;The&#160;Rolling&#160;Stones&#39;
52 SELECT&#160;*
FROM&#160;track
ORDER&#160;BY&#160;time
LIMIT&#160;10
53 SELECT&#160;*
FROM&#160;track
WHERE track_name LIKE &#39;%love%&#39;&#160;
54 SELECT&#160;*
FROM&#160;track
WHERE&#160;track_name&#160;&lt;&#160;&#39;M&#39;
55 SELECT&#160;*&#160;
FROM&#160;album
56 SELECT&#160;*&#160;
FROM&#160;artist
57 SELECT&#160;*&#160;
FROM&#160;track
58 SELECT&#160;T.*
FROM&#160;track&#160;T&#160;
&#160; &#160; &#160;JOIN album A ON A.artist_id = T.artist_id AND A.album_id = T.album_id
WHERE&#160;A.album_name&#160;=&#160;&#39;Second&#160;Coming&#39;
59 SELECT&#160;artist_id,&#160;album_name&#160;AS&#160;album_title
FROM&#160;album
60 SELECT&#160;artist_name
FROM&#160;artist
ORDER&#160;BY&#160;artist_name
61 SELECT&#160;track_name,&#160;artist_name,&#160;album_name
FROM&#160;track&#160;T
&#160;&#160;JOIN&#160;artist&#160;R&#160;ON&#160;T.artist_id&#160;=&#160;R.artist_id
&#160;&#160;JOIN&#160;album&#160;A&#160;ON&#160;A.album_id&#160;=&#160;T.album_id&#160;AND&#160;A.artist_id&#160;=&#160;T.artist_id
62 WITH total_spent AS (
SELECT C.CustomerID, C.CompanyName
&#160; &#160; , COALESCE(SUM(D.Quantity * D.UnitPrice ),0) AS total_price
&#160; &#160; , COALESCE(SUM(D.Quantity * D.UnitPrice * D.Discount ),0) AS total_discount
FROM&#160;
&#160; &#160; Customers C&#160;
&#160; &#160; LEFT JOIN Orders O ON C.CustomerID = O.CustomerID AND YEAR(O.OrderDate) = 2016
&#160; &#160; LEFT JOIN OrderDetails D ON O.OrderID = D.OrderID &#160;
GROUP BY C.CustomerID
)
SELECT T.*,&#160;
&#160; &#160; CASE&#160;
&#160; &#160; &#160; &#160; WHEN T.total_price-T.total_discount BETWEEN 0 AND 1000 THEN &#39;Low&#39;&#160;
&#160; &#160; &#160; &#160; WHEN T.total_price-T.total_discount BETWEEN 1000 AND 5000 THEN &#39;Medium&#39;&#160;
&#160; &#160; &#160; &#160; WHEN T.total_price-T.total_discount &gt;= 5000 THEN &#39;High&#39;&#160;
&#160; &#160; END AS TargetGroup
FROM total_spent T
ORDER BY T.total_price-T.total_discount
63 WITH&#160;
SingUpsAsOf AS (
&#160; &#160; SELECT MemberSince
&#160; &#160; &#160; &#160; , SUM(cnt) OVER (ORDER BY MemberSince) AS total_signups
&#160; &#160; FROM SignUpsOn
),
InactiveAsOf AS (
&#160; &#160; SELECT LastUpdate
&#160; &#160; &#160; &#160; , SUM(cnt) OVER (ORDER BY LastUpdate) AS total_inactive
&#160; &#160; FROM InactiveOn&#160;
)

SELECT MemberSince
&#160; &#160; &#160; &#160; , total_signups
&#160; &#160; &#160; &#160; , total_inactive
&#160; &#160; &#160; &#160; , total_signups-total_inactive AS total_active
FROM SingUpsAsOf S&#160;
&#160; &#160; JOIN InactiveAsOf A ON S.MemberSince=A.LastUpdate

In [ ]:
dbnames = ['music', 'flights', 'facebook', 'imdb', 'restaurants', 'northwind', 'collisions']

for i, sql in correct_answers.iterrows():
  print(i)
  # We will try all the dbnames and see which ones work
  query = sql['AnswerKey'].replace('&#160;', ' ').replace('&#39;', "'").replace('\n', " ")
  for db in dbnames:
    works = try_query(query, db)
    if works:
      print("WORKS:", i, db)

0
1
2
WORKS: 2 music
3
WORKS: 3 music
4
5
6
7
8
9
10
11
12
13
14
15
WORKS: 15 music
16
17
WORKS: 17 northwind
18
WORKS: 18 music
19
WORKS: 19 music
20
WORKS: 20 music
21
WORKS: 21 flights
22
WORKS: 22 northwind
23
24
WORKS: 24 northwind
25
26
WORKS: 26 northwind
27
WORKS: 27 northwind
28
WORKS: 28 music
29
WORKS: 29 northwind
30
WORKS: 30 northwind
31
WORKS: 31 music
32
WORKS: 32 music
33
34
WORKS: 34 music
35
WORKS: 35 music
36
WORKS: 36 music
37
38
39
WORKS: 39 flights
40
WORKS: 40 flights
41
42
WORKS: 42 flights
43
WORKS: 43 flights
44
45
46
WORKS: 46 flights
47
WORKS: 47 flights
48
49
WORKS: 49 music
50
WORKS: 50 music
51
WORKS: 51 music
52
WORKS: 52 music
53
WORKS: 53 music
54
55
WORKS: 55 music
56
WORKS: 56 music
57
WORKS: 57 music
58
WORKS: 58 music
59
WORKS: 59 music
60
WORKS: 60 music
61
WORKS: 61 music
62
63

### Prompt and Message

Training Prompt:
In database XXX, we ask the question: “what is the average fare of the flights departing from each airport”?
The student answered “SELECT …. FROM ….”
The correct answer was “SELECT …. FROM ….”

Message:
The TA assigned the grade “8/10” points
The feedback from the TA was “....”

In [ ]:
from sklearn.model_selection import train_test_split

train_df, test_df = train_test_split(df, test_size=0.2, random_state=1234)
len(train_df), len(test_df)

(2916, 730)

In [ ]:
train_df['prompt'] = "In database " + train_df['Database'].astype(str) + ", we ask the question: " + train_df['Question'] + " The studednt answered " + train_df['InputUserAnswer'] + " The correct answer was " + train_df['AnswerKey']

train_df['message'] = "The TA assigned the grade " + train_df['Score'].astype(str) + " points out of " + train_df['full_score'].astype(str) + " points." + train_df['feedback']

train_df.head()

,BSpace Course Name,BSpace Course Id,QuizName,﻿QuizId,QuizAttemptNumber,QuestionId,Question,QuestionType,InputUserAnswer,Score,NetId,Comment left on User Response,AnswerKey,isQuery,Database,full_score,feedback,prompt,message
2732,"Databases for Business Analytics, Spring'23","251,685",Assignment 2C: Filtering Queries,"295,343",1,"5,119,677",Find the tracks with names that are earlier al...,Long Answer Question,"SELECT * FROM track WHERE track_name < ""M"";\n",1.0,ek3575,NaN,SELECT&#160;*\nFROM&#160;track\nWHERE&#160;tra...,True,music,1.0,,"In database music, we ask the question: Find t...",The TA assigned the grade 1.0 points out of 1....
2117,"Databases for Business Analytics, Spring'23","251,685",Assignment 6: Window queries,"295,541",1,"5,168,437",Setup: Create a&#160;temporary table SignUpsOn...,Long Answer Question,create temporary table SignUpsOn as\n\tselect ...,1.0,ram659,NaN,DROP TABLE IF EXISTS SignUpsOn;\nCREATE TEMPOR...,True,flights,1.0,,"In database flights, we ask the question: Setu...",The TA assigned the grade 1.0 points out of 1....
632,"Databases for Business Analytics, Spring'23","251,685",Final Exam,"294,358",1,"4,956,293","Flights: For each state of the origin airport,...",Long Answer Question,"SELECT\n a.state_name AS origin_state,\n COU...",7.5,ql2084,NaN,"SELECT state\n&#160; &#160; , COUNT(DISTINCT T...",True,"[northwind, flights]",7.5,,"In database ['northwind', 'flights'], we ask t...",The TA assigned the grade 7.5 points out of 7....
4020,"Databases for Business Analytics, MSQM SU23","277,478",Assignment 4: Aggregations,"301,300",1,"5,119,734",For every date listed in the tracked_played ta...,Long Answer Question,"select\n\tdate_format(tp.played_on, '%Y-%m-%d'...",1.0,yw5786,NaN,"SELECT DATE(played_on) AS date_played, A.artis...",True,music,1.0,,"In database music, we ask the question: For ev...",The TA assigned the grade 1.0 points out of 1....
5342,"Databases for Business Analytics, MSQM SU23","277,478",Assignment 3: Joins,"301,296",1,"5,119,720",List the tracks for the album&#160;Second Coming,Long Answer Question,"select T.track_id, T.track_name, T.artist_id, ...",1.0,cnt240,NaN,SELECT&#160;T.*\nFROM&#160;track&#160;T&#160;\...,True,music,1.0,,"In database music, we ask the question: List t...",The TA assigned the grade 1.0 points out of 1....

Testing Prompt: In database XXX, we ask the question: “what is the average fare of the flights departing from each airport”? The student answered, “SELECT …. FROM ….” The correct answer was “SELECT …. FROM ….” Please grade this question on a scale from 0 to 10 and provide feedback explaining why you gave this grade.

In [ ]:
test_df['prompt'] = "In database " + test_df['Database'].astype(str) + ", we ask the question: " + test_df['Question'] + " The studednt answered " + test_df['InputUserAnswer'] + " The correct answer was " + test_df['AnswerKey'] + " Please grade this question on a scale base on the full score " + test_df['full_score'].astype(str) + " and provide feedback explaining why you gave this grade."
test_df.head()

,BSpace Course Name,BSpace Course Id,QuizName,﻿QuizId,QuizAttemptNumber,QuestionId,Question,QuestionType,InputUserAnswer,Score,NetId,Comment left on User Response,AnswerKey,isQuery,Database,full_score,feedback,prompt
4484,"Databases for Business Analytics, MSQM SU23","277,478",Assignment 4: Aggregations,"301,300",1,"5,119,728",Count the number of tracks in the database,Long Answer Question,SELECT COUNT(*)\nFROM track;,1.0,cr3431,NaN,SELECT COUNT(*) AS cnt\nFROM&#160;track,True,music,1.0,,"In database music, we ask the question: Count ..."
2222,"Databases for Business Analytics, Spring'23","251,685",Assignment 2B: Selection Queries,"295,300",1,"5,119,647",Show all the albums.,Long Answer Question,select * from album;,1.0,jk7371,NaN,SELECT&#160;*&#160;\nFROM&#160;album,True,music,1.0,,"In database music, we ask the question: Show a..."
7548,"Databases for Business Analytics, MSQM SU23","277,478",Assignment 5: Advanced Queries,"301,301",1,"5,119,787","As a first step, limit your analysis only to f...",Long Answer Question,DROP TABLE IF EXISTS eligible_names;\n\nCREATE...,1.0,kgb8897,NaN,DROP TABLE IF EXISTS eligible_names;&#160;\nCR...,True,imdb,2.0,,"In database imdb, we ask the question: As a fi..."
889,"Databases for Business Analytics, MSQM SU23","277,478",Assignment 2C: Filtering Queries,"301,294",1,"5,119,680",Find all the tracks that include the word &quo...,Long Answer Question,show databases;\nUSE music;\nSHOW Tables;\nSEL...,1.0,soj206,NaN,SELECT&#160;*\nFROM&#160;track\nWHERE track_na...,True,music,1.0,,"In database music, we ask the question: Find a..."
4165,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,710",For every customer in the database list the nu...,Long Answer Question,"SELECT CustomerID, Count(OrderID) As NumOrders...",8.0,jrj9504,"SELECT C.CustomerID, COUNT(O.OrderID) AS order...","SELECT C.CustomerID, COUNT(O.OrderID) AS order...",True,"[northwind, flights]",10.0,The feedback from the TA was SELECT C.Customer...,"In database ['northwind', 'flights'], we ask t..."

In [ ]:
# filter only prompt & message cols and submit training df?
df_train_ft = train_df[['prompt', 'message']]
df_train_ft.head()

,prompt,message
2732,"In database music, we ask the question: Find t...",The TA assigned the grade 1.0 points out of 1....
2117,"In database flights, we ask the question: Setu...",The TA assigned the grade 1.0 points out of 1....
632,"In database ['northwind', 'flights'], we ask t...",The TA assigned the grade 7.5 points out of 7....
4020,"In database music, we ask the question: For ev...",The TA assigned the grade 1.0 points out of 1....
5342,"In database music, we ask the question: List t...",The TA assigned the grade 1.0 points out of 1....

## Submit the dataset (trial)

In [ ]:
# use only subset of training to fine-tune
print(df_train_ft.shape)

train_subset = df_train_ft.head(50)
train_subset.head()

(2916, 2)

,prompt,message
2732,"In database music, we ask the question: Find t...",The TA assigned the grade 1.0 points out of 1....
2117,"In database flights, we ask the question: Setu...",The TA assigned the grade 1.0 points out of 1....
632,"In database ['northwind', 'flights'], we ask t...",The TA assigned the grade 7.5 points out of 7....
4020,"In database music, we ask the question: For ev...",The TA assigned the grade 1.0 points out of 1....
5342,"In database music, we ask the question: List t...",The TA assigned the grade 1.0 points out of 1....

In [ ]:
train_subset.to_csv('training_p.csv', index=False)

## Use the fine-tuning model

In [ ]:
OPENAI_API_KEY = "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"
openai.api_key = os.getenv(OPENAI_API_KEY)
!openai api fine_tunes.create -t training_p_prepared.jsonl -m gpt-3.5-turbo --suffix "grader_model"

## Grade a question

In [ ]:
openai.Completion.create(
    model= "ft-xUV9z2v4E6ra1BCLhSJOoCW1",
    prompt= "	In database music, we ask the question: Count the number of tracks in the database The studednt answered SELECT COUNT(*) FROM track; The correct answer was SELECT COUNT(*) AS cnt FROM&#160;track Please grade this question on a scale base on the full score 1.0 and provide feedback explaining why you gave this grade.")

In [ ]:
os.environ["OPENAI_API_KEY"] = openai_key

In [ ]:
!openai api fine_tunes.create -t test.jsonl -m ada --suffix "grader_model"

In [ ]:
!openai tools fine_tunes.prepare_data -f grader_train.jsonl
!openai tools fine_tunes.prepare_data -f grader_test.jsonl

In [ ]:
!openai api fine_tunes.create -t "grader/grader_train.jsonl" -v "grader/grader_test.jsonl" --batch_size 16

## Evaluation