In [ ]:
! pip install -q openai

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 73.6/73.6 kB 8.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 64.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.5/114.5 kB 7.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 268.8/268.8 kB 26.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 149.6/149.6 kB 18.8 MB/s eta 0:00:00

In [ ]:
import openai

In [ ]:
API_KEY = "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"

In [ ]:
! pip install requests

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.4)

In [ ]:
import requests
import os

URL = "https://api.openai.com/v1/chat/completions"
# openai.api_key = os.getenv(API_KEY)
# openai.organization = "org-KmuJAyEIAwX6b0DzA47RmhnR"

In [ ]:
grading = {
    "model": "gpt-3.5-turbo",
    "messages": [{"role": "user", "content": f"question: There are two relationships between Customer and Plan. Explain how they differ. \n Key: The Responsible For relationship is an overall 1:M relationship between Customer and Plan. A Customer can be responsible for 0, 1, or many Plans yet any one Plan will be linked to only 1 Customer for responsibility purposes. The Belongs relationship is an overall M:M relationship that permits the linking of multiple customers to a single plan, as in the case of family members being part of a particular plan or different plans. Student answer: Each customer can have 0 to many plans. Each plan must have one responsible party, but may belong to more than one customer. Grade on student answer based on the question and answer key."}],
    "max_tokens": 256,
    "temperature": 1
}

headers = {
    "Content-Type": "application/json",
    "Authorization": f"Bearer {API_KEY}"}

response = requests.post(URL, headers=headers, json=grading, stream=False)

In [ ]:
print(response.content)
# print(response.choices.message.content)

b'{"id":"chatcmpl-7NyoLnP4HnrFQL2UE6GGZvNKyrYIM","object":"chat.completion","created":1685949657,"model":"gpt-3.5-turbo-0301","usage":{"prompt_tokens":155,"completion_tokens":28,"total_tokens":183},"choices":[{"message":{"role":"assistant","content":"The student answer accurately describes the differences between the two relationships between Customer and Plan as stated in the key. Therefore, the answer is correct."},"finish_reason":"stop","index":0}]}\n'

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving quiz_responses.csv to quiz_responses.csv

In [ ]:
import pandas as pd
import io

In [ ]:
data = pd.read_csv(io.BytesIO(uploaded['quiz_responses.csv']))
data.head()

,BSpace Course Name,BSpace Course Id,QuizName,﻿QuizId,QuizAttemptNumber,QuestionId,Question,QuestionType,InputUserAnswer,QuestionAnswerTime,Score,NetId,Comment left on User Response,AnswerKey
0,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,924,883",A customer can have one or more rates.,True or False Question,False,2023-01-28,1.0,ab3864,NaN,NaN
1,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,729",Hard question. Requires use of subqueries and ...,Long Answer Question,"SELECT \n A.CustomerID,\n A.CompanyName,...",2023-01-28,10.0,ab3864,Results for identical to the answer key becaus...,"WITH total_spent AS (\nSELECT C.CustomerID, C...."
2,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,714","For each customer, we want to calculate how mu...",Long Answer Question,"SELECT \n O.CustomerID, SUM(D.Quantity * D....",2023-01-28,6.5,ab3864,-2 pts for the lack of LEFT JOIN\n-1 pt for Co...,NaN
3,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,713","For each order, show the customerID who placed...",Long Answer Question,"Select O.OrderID, O.CustomerID, Count(D.Produ...",2023-01-28,5.5,ab3864,-3 pts for lack for HAVING\n-1 pts for using t...,"SELECT O.OrderID, O.CustomerID\n&#160; &#160; ..."
4,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,711",We want to identify the ship countries with th...,Long Answer Question,"use northwind;\nSELECT \n ShipCountry, AVG(...",2023-01-28,7.0,ab3864,"It is ""LIMIT 3"" not ""LIMIT = 3""","SELECT ShipCountry, ROUND(AVG(Freight),2) AS A..."

In [ ]:
# remove columns
df = data.drop(columns=['QuestionAnswerTime'])
df = df[df['QuestionType']=='Long Answer Question']
df.head()

,BSpace Course Name,BSpace Course Id,QuizName,﻿QuizId,QuizAttemptNumber,QuestionId,Question,QuestionType,InputUserAnswer,Score,NetId,Comment left on User Response,AnswerKey
1,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,729",Hard question. Requires use of subqueries and ...,Long Answer Question,"SELECT \n A.CustomerID,\n A.CompanyName,...",10.0,ab3864,Results for identical to the answer key becaus...,"WITH total_spent AS (\nSELECT C.CustomerID, C...."
2,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,714","For each customer, we want to calculate how mu...",Long Answer Question,"SELECT \n O.CustomerID, SUM(D.Quantity * D....",6.5,ab3864,-2 pts for the lack of LEFT JOIN\n-1 pt for Co...,NaN
3,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,713","For each order, show the customerID who placed...",Long Answer Question,"Select O.OrderID, O.CustomerID, Count(D.Produ...",5.5,ab3864,-3 pts for lack for HAVING\n-1 pts for using t...,"SELECT O.OrderID, O.CustomerID\n&#160; &#160; ..."
4,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,711",We want to identify the ship countries with th...,Long Answer Question,"use northwind;\nSELECT \n ShipCountry, AVG(...",7.0,ab3864,"It is ""LIMIT 3"" not ""LIMIT = 3""","SELECT ShipCountry, ROUND(AVG(Freight),2) AS A..."
5,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,710",For every customer in the database list the nu...,Long Answer Question,"Select C.CompanyName, C.CustomerID, sum(case w...",10.0,ab3864,NaN,"SELECT C.CustomerID, COUNT(O.OrderID) AS order..."

In [ ]:
from sklearn.model_selection import train_test_split

train_df, test_df = train_test_split(df, test_size=0.2, random_state=1234)
len(train_df), len(test_df)

(6049, 1513)

In [ ]:
# Each quizid is associated with a specific database. Music, Flights, Northwind, Facebook
# It will need a bit of manual work to assign each quizid to a database,
# but it will not take long (the questions are the same across quizzes offered for different sessions).

## Create fine-tuning dataset for the model

In [ ]:
# assign each quiz with its database in df
  # Module 4 Practice: Flights Database Questions - flights
  # Restaurants Database: Simple Practice Queries - restaurants

def map_db(quiz):
  if 'Assignment 6' in quiz or 'Module 4 Practice: Flights' in quiz:
    return 'flights'
  elif 'Assignment 5' in quiz:
    return 'imdb' #?
  elif 'Assignment 4' in quiz or 'Assignment 3' in quiz or 'Assignment 2' in quiz:
    return 'music'
  elif 'Module 4' in quiz or 'Module 3' in quiz or 'Restaurants Database' in quiz:
    return 'restaurants'
  elif 'Module 2' in quiz:
    return ['facebook', 'restaurants']
  elif 'Module 1' in quiz:
    return 'northwind'
  elif 'General Data Analytics Practice' in quiz:
    return 'collisions'
  elif 'Final Exam' in quiz:
    return ['northwind', 'flights']
  else:
    return None

df['Database'] = df['QuizName'].apply(map_db)

In [ ]:
df.head(20)

,BSpace Course Name,BSpace Course Id,QuizName,﻿QuizId,QuizAttemptNumber,QuestionId,Question,QuestionType,InputUserAnswer,Score,NetId,Comment left on User Response,AnswerKey,Database
1,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,729",Hard question. Requires use of subqueries and ...,Long Answer Question,"SELECT \n A.CustomerID,\n A.CompanyName,...",10.0,ab3864,Results for identical to the answer key becaus...,"WITH total_spent AS (\nSELECT C.CustomerID, C....","[northwind, flights]"
2,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,714","For each customer, we want to calculate how mu...",Long Answer Question,"SELECT \n O.CustomerID, SUM(D.Quantity * D....",6.5,ab3864,-2 pts for the lack of LEFT JOIN\n-1 pt for Co...,NaN,"[northwind, flights]"
3,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,713","For each order, show the customerID who placed...",Long Answer Question,"Select O.OrderID, O.CustomerID, Count(D.Produ...",5.5,ab3864,-3 pts for lack for HAVING\n-1 pts for using t...,"SELECT O.OrderID, O.CustomerID\n&#160; &#160; ...","[northwind, flights]"
4,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,711",We want to identify the ship countries with th...,Long Answer Question,"use northwind;\nSELECT \n ShipCountry, AVG(...",7.0,ab3864,"It is ""LIMIT 3"" not ""LIMIT = 3""","SELECT ShipCountry, ROUND(AVG(Freight),2) AS A...","[northwind, flights]"
5,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,710",For every customer in the database list the nu...,Long Answer Question,"Select C.CompanyName, C.CustomerID, sum(case w...",10.0,ab3864,NaN,"SELECT C.CustomerID, COUNT(O.OrderID) AS order...","[northwind, flights]"
6,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,709",Show the date/time of the first order ever dat...,Long Answer Question,use northwind;\nSELECT \n min(OrderDate) as...,7.5,ab3864,NaN,SELECT MIN(OrderDate) AS earliestOrderDate\nFR...,"[northwind, flights]"
7,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,708","We would like to know, for each product, the a...",Long Answer Question,"use northwind;\nSELECT \n P.ProductID, P.Pr...",7.5,ab3864,NaN,"SELECT P.ProductID, P.ProductName, S.CompanyNa...","[northwind, flights]"
8,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,707","From the Products table, we want to see the Pr...",Long Answer Question,"SELECT \n ProductID, ProductName\nFROM\n ...",5.0,ab3864,NaN,"SELECT ProductID, ProductName\nFROM Products&#...","[northwind, flights]"
9,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,706","We would like to see just the FirstName, LastN...",Long Answer Question,"use northwind;\nSELECT \n E.FirstName, E.La...",5.0,ab3864,NaN,"SELECT FirstName, LastName, HireDate\nFROM Emp...","[northwind, flights]"
10,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,705","We would like to see, for each shipper, the nu...",Long Answer Question,"select A.*,B.distinctDays FROM \n(Select S.Shi...",6.0,ab3864,"Correct answer:\nSELECT S.ShipperID, S.Company...","SELECT S.ShipperID, S.CompanyName\n&#160; &#16...","[northwind, flights]"
20,"Databases for Business Analytics, Winter 2023","251,683",Module 1 Practice: Cellular Operator Database ...,"283,447",1,"4,911,640",Can a customer have an unlimited number of plans?,Long Answer Question,Yes\n\nNotes to self:\n\nEach plan may belong ...,0.0,acm576,"Yes. A Customer may be responsible for 0, 1, o...",NaN,northwind
21,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,711",We want to identify the ship countries with th...,Long Answer Question,SELECT AVG(Freight)\nFROM Orders;\n\nSELECT AV...,7.5,acm576,NaN,"SELECT ShipCountry, ROUND(AVG(Freight),2) AS A...","[northwind, flights]"
22,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,710",For every customer in the database list the nu...,Long Answer Question,"SELECT C.CustomerID\n, COUNT(C.CustomerID) AS ...",6.0,acm576,-2pts Incorrect join condition ON C.CustomerID...,"SELECT C.CustomerID, COUNT(O.OrderID) AS order...","[northwind, flights]"
23,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,709",Show the date/time of the first order ever dat...,Long Answer Question,"SELECT DATE(OrderDate) AS DATE_date, TIME(Orde...",4.0,acm576,NaN,SELECT MIN(OrderDate) AS earliestOrderDate\nFR...,"[northwind, flights]"
24,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,708","We would like to know, for each product, the a...",Long Answer Question,"SELECT P.ProductID, P.ProductName, S.CompanyNa...",7.5,acm576,NaN,"SELECT P.ProductID, P.ProductName, S.CompanyNa...","[northwind, flights]"
25,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,707","From the Products table, we want to see the Pr...",Long Answer Question,"SELECT ProductID, ProductName\nFROM Products\n...",4.0,acm576,"SELECT ProductID, ProductName\nFROM Products&n...","SELECT ProductID, ProductName\nFROM Products&#...","[northwind, flights]"
26,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,706","We would like to see just the FirstName, LastN...",Long Answer Question,"SELECT FirstName, LastName, HireDate\nFROM Emp...",5.0,acm576,NaN,"SELECT FirstName, LastName, HireDate\nFROM Emp...","[northwind, flights]"
27,"Databases for Business Analytics, Winter 2023","251,683",Final Exam,"283,453",1,"4,969,705","We would like to see, for each shipper, the nu...",Long Answer Question,"SELECT S.CompanyName, S.ShipperID, O.OrderID, ...",4.0,acm576,"SELECT S.ShipperID, S.CompanyName\n&nbsp; &nbs...","SELECT S.ShipperID, S.CompanyName\n&#160; &#16...","[northwind, flights]"
38,"Databases for Business Analytics, Winter 2023","251,683",Module 2 Practice: Filtering queries,"283,448",1,"4,913,454",\n\n\n\n\n\n\n\nFind all students with first n...,Long Answer Question,?,0.0,acm576,SELECT *\nFROM Profiles\nWHERE Name LIKE &#39;...,NaN,"[facebook, restaurants]"
39,"Databases for Business Analytics, Winter 2023","251,683",Module 2 Practice: Filtering queries,"283,448",1,"4,913,453",Find all students with first name &quot;Richar...,Long Answer Question,SELECT *\nFROM Profiles\nWHERE Name IN (\n('Ri...,0.0,acm576,SELECT *\nFROM Profiles\nWHERE Name LIKE &#39;...,NaN,"[facebook, restaurants]"

### Connect to database

In [ ]:
!pip3 install -U PyMySQL sqlalchemy sql_magic

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting PyMySQL
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.7/43.7 kB 5.3 MB/s eta 0:00:00
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.10)
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.16-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.7/2.7 MB 87.1 MB/s eta 0:00:00
Collecting sql_magic
  Downloading sql_magic-0.0.4-py3-none-any.whl (10 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (2.0.2)
Collecting findspark (from sql_magic)
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from sql_magic) (7.34.0)
Collecting jupyter (from sql_magic)
  Downloading jupyter-1.0.0-py2.py3-none-any.whl (2.7 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from sql_magic) (1.5.3)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from sql_magic) (0.4.4)
Requirement already satisfied: traitlets in /usr/local/lib/python3.10/dist-packages (from sql_magic) (5.7.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->sql_magic) (67.7.2)
Collecting jedi>=0.16 (from ipython->sql_magic)
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 61.7 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->sql_magic) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->sql_magic) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->sql_magic) (3.0.38)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->sql_magic) (2.14.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->sql_magic) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->sql_magic) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->sql_magic) (4.8.0)
Requirement already satisfied: notebook in /usr/local/lib/python3.10/dist-packages (from jupyter->sql_magic) (6.4.8)
Collecting qtconsole (from jupyter->sql_magic)
  Downloading qtconsole-5.4.3-py3-none-any.whl (121 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 121.9/121.9 kB 16.0 MB/s eta 0:00:00
Requirement already satisfied: jupyter-console in /usr/local/lib/python3.10/dist-packages (from jupyter->sql_magic) (6.1.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.10/dist-packages (from jupyter->sql_magic) (6.5.4)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.10/dist-packages (from jupyter->sql_magic) (5.5.6)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.10/dist-packages (from jupyter->sql_magic) (7.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->sql_magic) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->sql_magic) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->sql_magic) (1.22.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->sql_magic) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->sql_magic) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->sql_magic) (0.2.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->sql_magic) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->sql_magic) (0.2.0)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->sql_magic) (6.1.12)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->sql_magic) (6.3.1)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets->jupyter->sql_magic) (3.6.4)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets->jupyter->sql_magic) (3.0.7)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->sql_magic) (4.9.2)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->sql_magic) (4.11.2)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->sql_magic) (6.0.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->sql_magic) (0.7.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->sql_magic) (0.4)
Requirement already satisfied: jinja2>=3.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->sql_magic) (3.1.2)
Requirement already satisfied: jupyter-core>=4.7 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->sql_magic) (5.3.0)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->sql_magic) (0.2.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->sql_magic) (2.1.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->sql_magic) (0.8.4)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->sql_magic) (0.7.4)
Requirement already satisfied: nbformat>=5.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->sql_magic) (5.8.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->sql_magic) (23.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->sql_magic) (1.5.0)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->sql_magic) (1.2.1)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->sql_magic) (23.2.1)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->sql_magic) (21.3.0)
Requirement already satisfied: nest-asyncio>=1.5 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->sql_magic) (1.5.6)
Requirement already satisfied: Send2Trash>=1.8.0 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->sql_magic) (1.8.0)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->sql_magic) (0.17.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->sql_magic) (0.16.0)
Collecting qtpy>=2.0.1 (from qtconsole->jupyter->sql_magic)
  Downloading QtPy-2.3.1-py3-none-any.whl (84 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 84.9/84.9 kB 10.2 MB/s eta 0:00:00
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.10/dist-packages (from jupyter-core>=4.7->nbconvert->jupyter->sql_magic) (3.3.0)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.10/dist-packages (from nbformat>=5.1->nbconvert->jupyter->sql_magic) (2.16.3)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.10/dist-packages (from nbformat>=5.1->nbconvert->jupyter->sql_magic) (4.3.3)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.10/dist-packages (from argon2-cffi->notebook->jupyter->sql_magic) (21.2.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->nbconvert->jupyter->sql_magic) (2.4.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->nbconvert->jupyter->sql_magic) (0.5.1)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->sql_magic) (23.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->jupyter->sql_magic) (0.19.3)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from argon2-cffi-bindings->argon2-cffi->notebook->jupyter->sql_magic) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook->jupyter->sql_magic) (2.21)
Installing collected packages: findspark, sqlalchemy, qtpy, PyMySQL, jedi, qtconsole, jupyter, sql_magic
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.10
    Uninstalling SQLAlchemy-2.0.10:
      Successfully uninstalled SQLAlchemy-2.0.10
Successfully installed PyMySQL-1.0.3 findspark-2.0.1 jedi-0.18.2 jupyter-1.0.0 qtconsole-5.4.3 qtpy-2.3.1 sql_magic-0.0.4 sqlalchemy-2.0.16

In [ ]:
%reload_ext sql_magic

In [ ]:
from sqlalchemy import create_engine

conn_string = 'mysql+pymysql://{user}:{password}@{host}/?charset=utf8'.format(
    host = 'db.ipeirotis.org',
    user = 'student',
    password = 'dwdstudent2015',
    encoding = 'utf-8')
engine = create_engine(conn_string)

In [ ]:
%config SQL.conn_name = 'engine'

In [ ]:
# %%read_sql
# show databases
# use imdb
# show tables

### Prompt and Message

Prompt:
In database XXX, we ask the question: “what is the average fare of the flights departing from each airport”?
The student answered “SELECT …. FROM ….”
The correct answer was “SELECT …. FROM ….”

Message:
The TA assigned the grade “8/10” points
The feedback from the TA was “....”

In [ ]:
df['prompt'] = "In database " + df['Database'] + ", we ask the question: " + df['Question'] + " The studednt answered " + df['InputUserAnswer'] + " The correct answer was " + df['AnswerKey']
df['message'] = "The TA assigned the grade {s} points. The feedback from the TA was {feedback}"

In [ ]:
# for i, row in df.iterrows():
#   db = row.Database
#   q = row.Question
#   ans = row.InputUserAnswer
#   key = row.AnswerKey
#   prompt = f'In database {db}, we ask the question: {q} The studednt answered {ans} The correct answer was {key}'

#   s = row.Score
#   feedback = row.CommentleftonUserResponse
#   # how to get the full score
#   message = f'The TA assigned the grade {s} points. The feedback from the TA was {feedback}'

## Submit the dataset

In [ ]:
!openai api fine_tunes.create -t test.jsonl -m ada --suffix "grader_model"

In [ ]:
!openai tools fine_tunes.prepare_data -f grader_train.jsonl
!openai tools fine_tunes.prepare_data -f grader_test.jsonl

In [ ]:
!openai api fine_tunes.create -t "grader/grader_train.jsonl" -v "grader/grader_test.jsonl" --batch_size 16

## Use the fine-tuning model

## Grade a question

## Evaluation

In [ ]:
# We compare the grade assigned by GPT to the grade assigned by the TA.
# We will probably need to examine things critically when there are disagreements, as the difference may be also due to the TA being incorrect.